# drawio
*.drawio.bkp
/tb/tb
/tb/*.lxt
/tb/*.vcd
/tb/inst.txt
/tb/MEM.TXT
/tb/SFDP.TXT
/tb/SREG.TXT
/tb/SECSI.TXT

/tb/vlog.opt
/tb/transcript
/tb/work

/rtl/perips/sm3/tb/tb
/rtl/perips/sm3/tb/tb_sm3_core_top.sv

/py_gen

/syn
/tools/*
/bsp/obj/*
/isp/obj/*
#/rtl/W25Q128JVxIM.v

/.vscode
